body{
    font: 15px/1.5;
    font-family: 'Roboto', sans-serif;
    padding: 0;
    margin:0;
    background-color: beige
 }
 
 /* Global */
 .container{
    width:80%;
    margin:auto;
    overflow:hidden;
 }
 
 ul{
    margin:0;
    padding:0;
 }

 #inputBox{
    height:30px;
    width: 200px;
 }
 
 .button_1{
    height:32px;
    background:darkgoldenrod;
    padding-left: 25px;
    padding-right: 25px;
    color:white;
 }
 /* Header **/
 header{
    background: darkgoldenrod;
    color:lightgray;
    padding-top:30px;
    min-height: height 70px;
    border-bottom:rgb(13, 39, 13) 3px solid;
 }
 
 #branding img{
    width: 90px;
    align: left;
 }
 
 header a{
    color:rgb(43, 31, 31);
    text-decoration:none;
    text-transform: uppercase;
    font-size:16px;
 }
 
 header li{
    float:left;
    display:inline;
    padding: 0 20px 0 20px;
 }
 
 header #branding{
    float:left;
 }
 
 header #branding h1{
    margin:0;
 }
 
 header nav{
    float:right;
    margin-top:10px
 }
 
 header .highlight, header .current a{
    color:rgb(13, 39, 13);
    font-weight:bold, 50px;
 }
 
 header a:hover{
    color:rgb(13, 39, 13);
    font-weight:bold;
 }
 
 /* Showcase */
 #showcase{
    min-height:400px;
    text-align:center;
    color: black;
 }
 
 #showcase h1{
    margin-top:75px;
    font-size:45px;
    margin-bottom:10px;
 }
 
 #showcase p{
    font-size:20px;
 }
 
 /* link */
 #submitButton{
    padding:0 15px 0 15px;
    color:black;
    background:burlywood
 }
 
 
 #submitButton h1{
    float:center;
 }
 
 #submitButton form{
    float:center;
    text-align: center;
    margin-top: 15px;
 }
 
 #submitButton input[type="link"]{
    padding:4px;
    height:25px;
    width:250px,
 }
 
 /* Boxex */
 #boxes{
    margin-top:20px;
 }
 
 #boxes .box{
    float:left;
    text-align: center;
    width:30%;
    padding:10px;
 }
 
 #boxes .box img{
    width:90px;
 }
 
 table, th, td {
    border: 2px solid black;
    border-collapse: collapse;
    margin: 0 auto;
    margin-top: 10px;
  }
  th, td {
    border: 1px solid black;
    border-collapse: collapse;
    padding: 3px;
    text-align: left;
  }

#ingredients{
    width: 80%;
    border: black;
    font-weight:500;
}
#image{
    width: 500px;
    margin:10px;
    align-content: center;
}

#header{
    font-family: 'Montserrat', sans-serif;
    font-weight: 1000;
}
